body {background-color: #D4A59A;}

#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
	background-color: #5C2018;
	
	overflow: hidden;
}

#menu a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
#menu a:hover {
	background-color: #B22222;
  }

.section {
	margin: 0 auto;
	width: 60%;
	padding : 50px;
	text-align: center;
	border-style : double;
	border-color : #B22222;
	border-width : 10px 3px 10px;
	font-weight : bold;
	font-size : 16pt;
	font-family : Arial;
	color : black;
	background-color : #F3E0DC;
	
}

.youtube {
	border-radius: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(172, 49, 12);
}


	
	




